/*
  From colrc-v2, stylesheets, Colrc.css
*/

.Colrc {
  text-align: center;
}

.ul-left-aligned {
  text-align: left;
  list-style-type: circle;
}

.Grid {
  padding: 10px;
}
.Colrc-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Colrc-title {
  font-size: 1.5em;
}

.left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.ReactTable .rt-resizer {
  right: 0;
}

.wordwrap {
  white-space: pre-line !important;
  word-wrap: break-word;
  padding: 2px;
}

.checkBoxMenu {
  background-color: #222;
  padding: 5px;
  color: white;
  text-align: right;
}
.checkBoxLabel {
  padding-left: 20px;
  padding-right: 5px;
}

.ui.input {
  padding: 5px;
}

.floatRight {
  float: right;
}

.alignRight {
  align: right;
}

.hidden {
  display: none;
}

.image-gallery-slide img {
  height: 90%;
}

/*.keyboardContainer {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}*/

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

.ui.button {
  padding: 10px;
  margin: 10px;

}
.ui.input {
  padding: 5px;
}

.confirmButton {
  border-style: hidden !important;
}

.ui.localSearch.input {
  float: 'right';
  align: 'right';
  text-align: 'right';
}

/**
* ----------------------------------------------
* COLRC styles, adapted from https://www.npmjs.com/package/react-accessible-accordion
* ----------------------------------------------
**/
.ul-left-aligned {
  text-align: left;
}
.indentQuote {
  margin: 40px;
}
.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.u-position-absolute {
    position: absolute;
}

.u-position-relative {
    position: relative;
}

.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion + .accordion__content {
  padding: 10px;
  }

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__item--has-icon {
    position: relative;
}

.accordion__title {
    background-color: #0E6EB8;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__title:hover {
    background-color: gray;
}

.accordion__body {
    padding: 20px;
    display: block;
    animation: fadein 0.35s ease-in;
}

.accordion__body--hidden {
    display: none;
    opacity: 0;
    animation: fadein 0.35s ease-in;
}

.accordion__title > *:last-child,
.accordion__body > *:last-child {
    margin-bottom: 0;
}

.accordion__arrow {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
}

.accordion__arrow::after,
.accordion__arrow::before {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    content: '';
}

.accordion__arrow::before {
    left: 4px;
    transform: rotate(45deg);
}

[aria-expanded='true'] .accordion__arrow::before, [aria-selected='true'] .accordion__arrow::before {
    transform: rotate(-45deg);
}

.accordion__arrow::after {
    right: 4px;
    transform: rotate(-45deg);
}

[aria-expanded='true'] .accordion__arrow::after, [aria-selected='true'] .accordion__arrow::after {
    transform: rotate(45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes move-down {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(5px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-5px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.accordion__title--animated:hover .accordion__arrow {
    animation-name: move-down;
    animation-duration: 1.5s;
}

.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow {
    animation-name: move-up;
    animation-duration: 1.5s;
}
/**** From styles navbar.css ****/
/******     Sidebar     ******/
/****
.ui.icon.menu .item {
    line-height: 20px;
    padding-right: 10px;
    text-align: justify;
    font-weight: 200;
}

.ui.vertical.menu .item::before {
    height: 0px;
}

.ui.labeled.icon.menu .item > .icon:not(.dropdown) {
    float: left;
    margin-right: 12px !important;
}

.ui.labeled.icon.menu .item > .svg-inline-fa:not(.dropdown) {
    float: left;
    margin-right: 12px !important;
}

ul {
  list-style-type: none;
  text-align: right;
  float: center;
}
.ui.grid {
  margin: 10;

}
/*.ui.grid .column {
    margin-left: -10px;
    margin-top: -15px;
    margin-right: -25px;
    padding: 0;

}*/

/* .ui.grid .row {
  margin-left: -25px;
  margin-right: -25px;
  overflow: hidden;
  clear: both;
}*/

/**** from Colrc index.css ****/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.superscript { position: relative; top: -0.5em; font-size: 80%; }

.right {
  text-align: right;
}

/*
  From redux-fun index.css
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.loading {
  margin: 0 auto;
}

.option {
  border: 1px solid #d0d0d0;
  margin: 10px;
  border-radius: 2px;
}

.option:hover {
  border: 2px solid #252525;
  cursor: pointer;
}

.chosen {
  border: 2px solid #00b5d6;
}

.result {
  display: flex;
  justify-content: space-between;
}

.poll-author {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.poll-author img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.dashboard-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.dashboard-toggle button {
  border: none;
  background: transparent;
  font-size: 22px;
}

.dashboard-list {
  font-size: 18px;
  letter-spacing: .4px;
}

.dashboard-list a:hover {
  font-weight: 600;
}

.add-poll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poll-container {
  width: 60%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.question {
  font-size: 30px;
  text-align: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
}

.user {
  display: flex;
}

.user h1 {
  margin: 0;
  font-size: 30px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 20px;
}

.user p {
  margin-top: 6px;
  margin-bottom: 6px;
}

@media (max-width: 500px) {
  .poll-container {
    width: 95%;
    flex-direction: column;
  }
}

.add-form {
  margin: 0 auto;
  width: 600px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0;
  appearance: none;
  margin-bottom: 20px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.label {
  display: block;
  margin-bottom: 0.25em;
  font-size: 20px;
}

.input {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  background-color: white;
  font-size: 18px;
}
.input:focus {
  border-color: gray;
}
